<template>
    <transition name="scale">
        <div class="d-modal-container"
             :id="id" :style="{width: width + 'px'}">
            <div class="d-modal-header">
                <span>{{title}}</span>
                <div class="d-modal-ui">
                    <i class="fa fa-fw fa-expand" v-if="!isFullscreen" @click="toggleFullscreen()"></i>
                    <i class="fa fa-fw fa-compress" v-if="isFullscreen" @click="toggleFullscreen()"></i>
                    <i class="fa fa-fw fa-close" @click="$emit('close')"></i>
                </div>
            </div>
            <div class="d-modal-body">
                <slot name="body">
                    default body
                </slot>
            </div>
            <div class="d-modal-footer">
                <slot name="footer">
                    default footer
                    <button class="btn btn-default">
                        OK
                    </button>
                </slot>
            </div>
        </div>
    </transition>
</template>
<script>
    export default {
        name: 'DModal',

        props: {
            id: {
                type: String
            },
            title: {
                type: String
            },
            width: {
                type: [
                    Number,
                    String
                ]
            }
        },

        data() {
            return {
                modal: '',
                isFullscreen: false
            }
        },
        methods: {
            setDraggable() {
                // jQuery UI
                $(`#${this.modal.id}`).draggable({
                    handle: '.d-modal-header',
                })
            },
            setCenter() {
                this.modal.style.left = `${window.innerWidth / 2 - this.modal.offsetWidth / 2}px`;
            },
            toggleFullscreen() {
                this.isFullscreen = !this.isFullscreen;

                if (this.isFullscreen) {
                    this.modal.style.left = 0;
                    this.modal.style.top = 0;
                    this.modal.style.height = 100 + '%';
                    this.modal.style.width = 100 + '%';
                } else {
                    this.modal.style.height = 'auto';
                    this.modal.style.width = this.width + 'px';
                    this.modal.style.top = 20 + '%';
                    this.setCenter();
                }
            }
        },
        mounted() {
            this.modal = document.getElementById(this.id);
            this.setDraggable();
            this.setCenter();
        }
    }
</script>
<style scoped lang="scss">
    .d-modal-container {
        min-width: 400px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease, left 0s, right 0s, top 0s, bottom 0s, width 0s, hight 0s;
        position: fixed;
        top: 20%;
        transform: scale(1, 1);
        z-index: 1050;
    }

    .d-modal-header {
        background-color: #d8d8d8;
        text-shadow: 0 1px 0 #fff;
        padding: 5px;
        & span {
            background-color: #d8d8d8;
            text-shadow: 0 1px 0 #fff;
            font-size: 14px;
        }
    }

    .d-modal-ui {
        display: inline-block;
        float: right;
        & i {
            cursor: pointer;
            color: #aaa;
            &:hover {
                color: #777;
            }
        }
    }

    .d-modal-body {
        padding: 10px;
    }

    .d-modal-footer {
        padding: 20px 10px 10px 10px;
    }
    /*------------------------------------*/
    /*  TRANSITION  */
    /*------------------------------------*/
    .scale-enter {
        opacity: 0;
    }

    .scale-leave-active {
        opacity: 0;
    }

    .scale-enter.d-modal-container,
    .scale-leave-active.d-modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>