<template>
    <div>
        <table :id="id"
               class="table"
               :columns="columns"
               :source="source">
            <thead>
            <tr class="d-table-header">
                <th v-for="column in columns" @click="sortBy(column.key)">
                    <span>{{column.label}}</span>
                    <span v-if="column.key === sorted.column">
                        <span v-if="sorted.direction === 'desc'">&uarr;</span>
                        <span v-if="sorted.direction === 'asc'">&darr;</span>
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in includedColumns">
                <td v-for="(value, key) in row">{{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        name: 'DTable',

        props: {
            id: {
                type: String
            },
            columns: {
                type: Array
            },
            source: {
                type: Array
            }
        },

        data() {
            return {
                includedColumns: [],
                sorted: {
                    column: '',
                    direction: 'asc'
                }
            }
        },
        computed: {},
        methods: {
            sortBy(col) {
                this.sorted.column = col;
                if (this.sorted.direction === 'desc') {
                    this.includedColumns.sort((a, b) => a[this.sorted.column] < b[this.sorted.column] ? 1 : -1);
                    this.sorted.direction = 'asc'
                } else if (this.sorted.direction === 'asc') {
                    this.includedColumns.sort((a, b) => a[this.sorted.column] > b[this.sorted.column] ? 1 : -1);
                    this.sorted.direction = 'desc'
                }
            }
        },
        mounted() {
            this.source.forEach(row => {
                let temp = {};
                this.columns.map(item => {
                    temp[item.key] = row[item.key];
                });
                this.includedColumns.push(temp)
            });
        }
    }
</script>
<style scoped lang="scss">
    .d-table-header {
        cursor: pointer;
    }
</style>
