<template>
    <span>
        <template v-if="isLink && isButton === false">
            <a :href="url"
               class="btn"
               :class="[curentClass, {'btn-sm': small}]"
               :type="type"
               :icon="icon"
            >
                <i v-if="icon && iconPos === 'left'" :class="iconGlyph"></i>
                <slot></slot>
                <i v-if="icon && iconPos === 'right'" :class="iconGlyph"></i>
            </a>
        </template>
        <template v-if="isButton">
            <button class="btn"
                    :class="[curentClass, {'btn-sm': small}]"
                    :type="type"
                    :icon="icon"
                >
                <i v-if="icon && iconPos === 'left'" :class="iconGlyph"></i>
                <slot></slot>
                <i v-if="icon && iconPos === 'right'" :class="iconGlyph"></i>
            </button>
        </template>
    </span>
</template>
<script>
    export default {
        name: 'DButton',

        props: {
            isLink: {
                type: Boolean,
                default: true
            },
            isButton: {
                type: Boolean
            },
            url: {
                type: String
            },
            type: {
                type: String,
                default: 'default'
            },
            small: {
                type: Boolean
            },
            icon: {
                type: Boolean
            },
            iconPos: {
                type: String
            },
            iconGlyph: {
                type: String
            }
        },

        data() {
            return {
                curentClass: '',
                buttonClasses: {
                    defaultClass: 'btn-default',
                    primaryClass: 'btn-primary',
                    succesClass: 'btn-success',
                    infoClass: 'btn-info',
                    warningClass: 'btn-warning',
                    dangerClass: 'btn-danger'
                }
            }
        },
        methods: {
            checkType() {
                switch (this.type) {
                    case 'primary':
                        this.curentClass = this.buttonClasses.primaryClass;
                        break;
                    case 'success':
                        this.curentClass = this.buttonClasses.succesClass;
                        break;
                    case 'info':
                        this.curentClass = this.buttonClasses.infoClass;
                        break;
                    case 'warning':
                        this.curentClass = this.buttonClasses.warningClass;
                        break;
                    case 'danger':
                        this.curentClass = this.buttonClasses.dangerClass;
                        break;
                    default:
                        this.curentClass = this.buttonClasses.defaultClass;
                }
            }
        },
        mounted() {
            this.checkType();
        }
    }
</script>
<style>
</style>
