<template>
    <label>
        <input
                type="checkbox"
                :name="name"
                :id="id"
                :value="currentValue"
                :checked="isChecked"
                :label="label"
                @change="handleChange"
        >
        {{ label }}
    </label>
</template>
<script>
    export default {
        name: 'DCheckbox',

        props: {
            name: {
                type: String
            },
            id: {
                type: String
            },
            value: {
                type: [String, Number, Array]
            },
            checked: {
                type: Boolean
            },
            label: {
                type: [String, Number]
            },

        },

        data() {
            return {
                currentValue: this.value,
                isChecked: this.checked,
            }
        },
        methods: {
            toggleChecked(){
                this.isChecked = !this.isChecked;
            },
            handleChange(event) {
                let value = event.target.value;
                this.$emit('change', value);
                this.toggleChecked();
            }
        }
    }
</script>