<template>
    <div>
        <template v-if="index === 0">
            <div class="row condition">
                <div class="col-sm-3">
                    <!-- SELECT FIELD TYPE -->
                    <d-select :small="true" @option-change="getType($event)">
                        <option disabled  value>-- Выберите параметр --</option>
                        <d-option v-for="opt in options"
                                  :value="opt.type"
                                  :text="opt.name"
                                  :key="opt.id"
                                  :data-task-id="opt.id"
                                  :selected="opt.id === filter.field.filter_field_id ? true : null"
                        ></d-option>
                    </d-select>
                    <!-- SELECT FIELD TYPE END -->
                </div>
                <div class="col-sm-8">
                    <!-- FIELD TYPE -->
                    <template v-if="fieldType === 'date-range'">
                        <d-date datepickerType="range"
                                :id="`date_${_uid}`"
                                :small="true"
                                :key="id"
                                :time="true"
                                @date-change="currentValue = $event"></d-date>
                    </template>
                    <template v-if="fieldType === 'fancy-input'">
                        <d-fancytree :id="`tree_${_uid}`" :source="source" type="input" :extensions="['glyph']"
                                     :small="true"></d-fancytree>
                    </template>
                    <template v-if="fieldType === 'select'">
                        <d-select :small="true" @option-change="getValue($event)">
                            <option disabled selected value>-- Выберите параметр --</option>
                            <d-option v-for="opt in source"
                                      :value="opt.key"
                                      :text="opt.value"
                                      :key="opt.key"
                            ></d-option>
                        </d-select>
                    </template>
                    <d-input v-if="fieldType === 'input-text'" :small="true" v-model="filter.field.value"></d-input>
                    <!-- FIELD TYPE END -->
                </div>
                <div class="col-sm-1 text-right">
                    <button class="btn btn-default btn-sm" @click.prevent="$emit('add-filter')">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </template>
        <template v-if="index > 0">
            <div class="row condition" :id="'condition_item_'+ id">
                <div class="col-sm-3">
                    <div class="row no-gutters">
                        <div class="col-sm-3">
                            <!-- SELECT CONDITION -->
                            <d-select :small="true" @option-change="currentCondition = $event.target.value">
                                <d-option v-for="opt in conditions"
                                          :value="opt.value"
                                          :text="opt.name"
                                          :key="opt.name"
                                          :selected="opt.value === filter.condition ? 'selected' : null "
                                ></d-option>
                            </d-select>
                            <!-- SELECT CONDITION END -->
                        </div>
                        <div class="col-sm-9">
                            <!-- SELECT FIELD TYPE END -->
                            <d-select :small="true" @option-change="getType($event)">
                                <option disabled value>-- Выберите параметр --</option>
                                <d-option v-for="opt in options"
                                          :value="opt.type"
                                          :text="opt.name"
                                          :key="opt.id"
                                          :data-task-id="opt.id"
                                          :selected="opt.id === filter.field.filter_field_id ? true : null"
                                ></d-option>
                            </d-select>
                            <!-- SELECT FIELD TYPE -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <!-- FIELD TYPE -->
                    <template v-if="fieldType === 'date-range'">
                        <d-date datepickerType="range"
                                :id="`date_${_uid}`"
                                :small="true"
                                :key="id"
                                :time="true"
                                v-model="filter.field.value"
                                @date-change="currentValue = $event"></d-date>
                    </template>
                    <template v-if="fieldType === 'fancy-input'">
                        <d-fancytree :id="`tree_${_uid}`"
                                     :source="source"
                                     type="input"
                                     :extensions="['glyph']"
                                     :small="true"></d-fancytree>
                    </template>
                    <template v-if="fieldType === 'select'">
                        <d-select :small="true" @option-change="getValue($event)">
                            <option disabled selected value>-- Выберите параметр --</option>
                            <d-option v-for="opt in source"
                                      :value="opt.key"
                                      :text="opt.value"
                                      :key="opt.key"
                            ></d-option>
                        </d-select>
                    </template>
                    <d-input v-if="fieldType === 'input-text'" :small="true" v-model="filter.field.value"></d-input>
                    <!-- FIELD TYPE END -->
                </div>
                <div class="col-sm-1 text-right">
                    <button class="btn btn-default btn-sm" @click.prevent="$emit('delete-filter',''); ">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
    export default {
        props: [
            'filter',
            'options',
            'name',
            'id',
            'index'
        ],

        data() {
            return {
                seed: 1,
                fieldType: 'input-text',
                fieldId: '',
                source: '',
                currentCondition: '',
                currentValue: '',
                conditions: [
                    {name: 'и', value: 'and'},
                    {name: 'или', value: 'or'},
                ],
                currentFilter: {
                    condition: 'and',
                    field: {
                        filter_field_id: '',
                        value: ''
                    }
                },
            }
        },
        methods: {
            /**
             * Получение типа поля при выборе
             * @param {object} e - event
             */
            getType(e) {
                this.fieldType = e.target.value;
                let id =  e.target.options[e.target.options.selectedIndex].dataset.taskId;
                this.fieldId = id;
                this.currentFilter.field.filter_field_id = id;

                this.options.find(field => {
                    if (field.id === this.currentFilter.field.filter_field_id) {
                        if (field.data !== undefined) {
                            this.source = field.data;
                        }
                        if (field.current_value !== undefined) {
                            this.currentValue = field.current_value;
                        } else {
                            this.currentValue = '';
                        }
                    }
                });
            },
            /**
             * Получения типа поля при загрузке
             */
            getInitType() {
                this.options.find(option => {
                    if (option.id === this.filter.field.filter_field_id) {
                        this.fieldType = option.type;
                        this.source = option.data;
                        if (option.type === 'fancy-input') {
                            console.log('fancy');
                        }
                    }
                });
            },
            getValue(e) {
                this.currentValue = e.target.value;
            },
            /**
             * Вспомогательный метод для связи по id компонента для последующего удаления.
             */
            addFilter() {
                this.$emit('add-filter')
//                this.$parent.$data.indexRows.push({
//                    id: this.newSeed()
//                });
            },
            newSeed() {
                return this.seed++
            }
        },
        mounted() {
            this.getInitType();
        },
        watch: {
            currentValue: function () {
                this.currentFilter.value = this.currentValue
            },
            currentCondition: function () {
                this.currentFilter.condition = this.currentCondition;
            }
        }
    }
</script>