<template>
    <div>
        <template v-if="index > 0">
            <d-select :small="true" style="width: 50px; margin: 0 auto; padding: 10px 0"
                      @option-change="condition = $event.target.value">
                <d-option v-for="opt in conditions"
                          :value="opt.value"
                          :text="opt.name"
                          :key="opt.name"
                          :selected="opt.value === filter.condition ? 'selected' : null "
                ></d-option>
            </d-select>
        </template>
        <div class="panel panel-default">
            <div class="panel-body">
                <d-filter v-for="(item, index) in filter.rows"
                          @add-filter="addFilter()"
                          @delete-filter="deleteFilter(index)"
                          :options="$parent.$parent.$data.filterFields.filter_fields"
                          :id="item.id"
                          :key="item.id"
                          :index="index"
                          :filter="item"
                          class="d-filters-item"
                ></d-filter>
                <span v-if="index > 0"
                      @click="$emit('delete-filter-block')"
                      class="d-delete-filter-block">
                    <i class="fa fa-close"></i>
                </span>
            </div>
        </div>
    </div>

</template>
<script>
    import DFilter from './Filter.vue'
    import mixins from '../../mixins'

    export default {
        name: 'DFilterBlock',

        mixins: [mixins],

        props: [
            'index',
            'filter'
        ],

        data() {
            return {
                show: true,
                seed: 0,
                indexRows: [],
                conditions: [
                    {name: 'и', value: 'and'},
                    {name: 'или', value: 'or'},
                ]
            }
        },
        components: {
            DFilter
        },
        computed: {
            filters() {
                return this.$parent.$data.filters
            }
        },
        methods: {
            addFilter() {
                this.$parent.$data.filters[this.index].rows.push(
                    {
                        id: this.guid(),
                        condition: '',
                        field: {
                            filter_field_id: '',
                            value: ''
                        }

                    }
                )
            },
            deleteFilter(index) {
                this.$parent.$data.filters[this.index].rows.splice(index, 1)
            }
        }
    }
</script>
<style scoped lang="scss">
    .d-filters {
        padding: 5px;
        background-color: #f5f5f5;
        &-body {
            margin-top: 5px;
        }
        &-item {
            margin: 10px 0;
        }
    }

    .panel-body {
        position: relative;
    }

    .d-delete-filter-block {
        position: absolute;
        top: -20px;
        right: 2px;
        i {
            font-size: 12px;
            color: #ccc;
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
    }

    .d-add-condition-block {
        margin: 10px 0;
    }

    .panel {
        margin-bottom: 0;
    }
</style>