<template>
    <div>
        <div class="row no-gutters1 condition">
            <div class="col-sm-3">
                <d-select :small="true" :name="'filtername_0'">
                    <option disabled selected value>-- Выберите параметр --</option>
                    <d-option v-for="opt in options" :value="opt.value" :text="opt.name" :key="opt.name"></d-option>
                </d-select>
            </div>
            <div class="col-sm-8">
                <d-input :small="true" :name="'filtervalue_0'"></d-input>
            </div>
            <div class="col-sm-1 text-right">
                <button class="btn btn-default btn-sm" @click.prevent="$emit('add-filter')"><i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['options'],
        data() {
            return {}
        }
    }
</script>