<template>
    <div class="d-filters">
        <div class="d-filters-buttons">
            <button class="btn btn-default btn-sm " @click="show = !show"><i class="fa fa-filter"></i> Фильтр
            </button>
            <span class="d-presets">
                <span class="small" v-if="editButtons">Редактирование</span>
                <span class="small" v-else>Быстрый фильтр</span>
                <select id="presets" class="select">
                    <option v-for="button in buttons"
                            :value="button.name"
                            :selected="button.selected ? 'selected' : null"
                            >{{button.name}}</option>
                </select>
            </span>
            <div class="d-edit-presets" data-placement="left" data-toggle="ui_tooltip" data-container="body"
                 data-original-title-ui="Редактировать текущий быстрый фильтр" data-original-title=""
                 @click="editPreset()">
                <i class="fa fa-cog"></i>
            </div>
        </div>
        <div v-show="show" class="d-filters-body" :class="{'edit' : editButtons}">
            <form>
                <d-filter-block v-for="(block, index) in filters" :key="block.id" :index="index" :filter="block"
                                :ref="`filter-block-${index}`"
                                @delete-filter-block="deleteFilterBlock(index)">
                </d-filter-block>
                <br>
                <button class="btn btn-default btn-sm d-add-search"><i class="fa fa-search"></i> Поиск</button>
                <div class="text-right">
                    <button class="btn btn-default btn-sm d-add-condition-block" @click.prevent="addFilterBlock()">
                        Добавить блок условий
                    </button>
                    <br>
                    <div class="d-add-preset-button">
                        <table>
                            <tr>
                                <td>
                                    <d-input v-if="showButtonInput" :small="true" v-model="buttonName"></d-input>
                                </td>
                                <td>
                                    <button v-if="!showButtonInput" class="btn btn-default btn-sm"
                                            @click.prevent="showButtonInput = !showButtonInput">
                                        Создать быстрый фильтр
                                    </button>
                                    <button v-if="showButtonInput"
                                            class="btn btn-default btn-sm d-create-preset-button"
                                            @click.prevent="addButton()">
                                        Сохранить
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import DFirstFilter from './FirstFilter.vue'
    import DFilter from './Filter.vue'
    import DFilterBlock from './FilterBlock.vue'
    import mixins from '../../mixins'

    export default {
        name: 'DTableFilter',

        mixins: [mixins],

        props: {
            options: {
                type: Array
            },
            buttons: {
                type: [Array]
            }
        },

        components: {
            DFilter,
            DFirstFilter,
            DFilterBlock
        },

        data() {
            return {
                seed: 1,
                show: true,
                showButtonInput: false,
                editButtons: false,
                filterBlocks: [
//                    {id: 0}
                ],
                filters: [],
                preFilters: [],
                buttonName: ''
            }
        },
        methods: {
            /**
             * Получение всех фильтров и удаление вспомогательных id.
             */
            getFilters() {
                this.deleteProp('id', this.filters)
            },
            /**
             * Добавление блока фильтра с добавление первого фильтра
             */
            addFilterBlock() {
                this.filters.push(
                    {
                        id: this.guid(),
                        rows: [
                            {
                                condition: '',
                                field: {
                                    filter_field_id: '',
                                    value: ''
                                }
                            }
                        ]
                    }
                );
            },
            /**
             * Удаление блока фильтра
             */
            deleteFilterBlock(index) {
                this.filters.splice(index, 1)
            },
            /**
             * Тестирование конвертации json to query.
             */
            testSendQuery() {
                let temp = {};
                this.filters.map((item, index) => {
                    temp[index] = item;
                });
                this.filters = decodeURIComponent($.param(temp));
            },
            /**
             * Добавление новой предустановленной кнопки фильтра, сохранение на сервере, получение новых кнопок с сервера
             */
            addButton() {
                this.getRows();
                this.showButtonInput = !this.showButtonInput;

                let button = {
                    id: '',
                    name: this.buttonName,
                    type: 'user',
                    filters: this.filters
                };

                this.$parent.$data.buttons.push(button);
                this.buttonName = '';

                // TODO метод сохранения кнопки на сервере, получение новых кнопок с сервера
                /*axios.post('url', button).then(response => {
                 console.log(response);
                 }).catch(error => {
                 console.log(error);
                 });*/

                // test button json
                this.$parent.$data.filters = button;
            },
            editPreset() {
                this.editButtons = !this.editButtons;
            }
        },
        mounted() {
            let $presets = $('#presets').select2();
            $presets.on('change', function () {
                console.log('dfdf');
            })
        },
        watch: {
            buttons() {
                this.buttons.find(button => {
                    if (button.selected === true) {

//                        button.filter.forEach(filter =>{
//                            this.filterBlocks.push({id: Math.floor(Math.random()*1000)})
//                        });
                        this.filters = button.filter;
                        // Добавление id - для связи по id компонента для последующего удаления
                        this.filters.forEach(filter => {
                            filter.id = this.guid();
                            filter.rows.forEach(row => {
                                row.id = this.guid();
                            })
                        });
                    }
                })

            }
        }
    }
</script>
<style lang="scss">
    .d-filters {
        padding: 5px;
        background-color: #f5f5f5;
        &-body {
            margin-top: 5px;
        }
        &-item {
            margin: 10px 0;
        }
        &-buttons {
            position: relative;
        }
    }

    .d-filters-body {
        &.edit {
            background: repeating-linear-gradient(
                            45deg,
                            #ddd,
                            #ddd 10px,
                            #eee 10px,
                            #eee 20px
            );
        }
    }

    .d-add-condition-block {
        margin: 10px 0;
    }

    .d-add-preset-button {
        table {
            margin: 0 0 0 auto;
        }
    }

    .d-edit-presets {
        position: absolute;
        top: -4px;
        right: 2px;
        cursor: pointer;
    }

    .d-presets {
        position: absolute;
        right: 20px;
    }

    .select {
        width: 300px;
    }

    .select-item {
        i {
            position: absolute;
            right: 8px;
            line-height: 18px;
            z-index: 1010;
            color: #ccc;
            &:hover {
                color: #000;
            }
        }
    }

    .select2-results {
        li {
            // width: 80%!important;;
        }
    }
</style>
