<template>
    <div :class="{
    'input-text': type === 'text',
    'input-number': type === 'number',
    'input-textarea': type === 'textarea'
    }">
        <template v-if="type === 'text' || type === 'number'">
            <label v-if="label">{{ labelName }}</label>
            <div v-if="icon" class="input-group">
                <div v-if="iconPos === 'left'" class="input-group-addon">
                    <span class="glyphicon" :class="iconGlyph"></span>
                </div>
                <input
                        :type="type"
                        :name="name"
                        :disabled="disabled"
                        :id="id"
                        :value="currentValue"
                        :placeholder="placeholder"
                        :class="[classDefault, {'input-sm': small}]"
                        :label="label"
                        :labelName="labelName"
                        @input="handleInput"
                >
                <div v-if="iconPos === 'right'" class="input-group-addon">
                    <span class="glyphicon" :class="iconGlyph"></span>
                </div>
            </div>
            <input v-if="!icon"
                    :type="type"
                    :name="name"
                    :disabled="disabled"
                    :id="id"
                    :value="currentValue"
                    :placeholder="placeholder"
                    :class="[classDefault, {'input-sm': small}]"
                    :label="label"
                    :labelName="labelName"
                    @input="handleInput"
            >
        </template>
        <template v-if="type === 'textarea'">
            <textarea
                    :name="name"
                    :id="id"
                    :cols="cols"
                    :rows="rows"
                    :class="classDefault"
                    :label="label"
                    :labelName="labelName"
                    :placeholder="placeholder"
                    :disabled="disabled"
                    @input="handleInput"
            ></textarea>
        </template>
    </div>
</template>
<script>
    import mixins from '../../mixins'

    export default {
        name: 'DInput',

        mixins: [mixins],

        props: {
            type: {
                type: String,
                default: 'text'
            },
            name: {
                type: String,
            },
            id: {
                type: String,
            },
            disabled: {
                type: Boolean,
                default: false
            },
            value: {
                type: [String, Number],
            },
            placeholder: {
                type: String,
            },
            label: {
                type: Boolean,
                default: false,
            },
            labelName: {
                type: String
            },
            cols: {
                type: Number,
                default: 30
            },
            rows: {
                type: Number,
                default: 10
            },
            icon: {
                type: Boolean
            },
            iconPos: {
               type: String
            },
            iconGlyph: {
                type: String
            },
            className: {
                type: [String, Array]
            },
            small: {
                type: Boolean
            }
        },

        data() {
            return {
//                currentValue: this.value
            }
        },
        computed: {
          currentValue() {
              return this.value
          }
        },
        methods: {
            setValue(val) {
                this.currentValue = val;
            },
            handleInput(event){
                let value = event.target.value;
                this.setValue(value);
                this.$emit('input', value);
            }
        }
    }
</script>