<template>
    <div style="margin-bottom: 300px">
        <div class="row">
            <div class="col-sm-2">
                <div class="logo"><h3>DantserUI</h3></div>
                <ul class="nav nav-pills nav-stacked">
                   <li><router-link to="/input">Input</router-link></li>
                   <li><router-link to="/checkbox">Checkbox</router-link></li>
                   <li><router-link to="/radio">Radio</router-link></li>
                   <li><router-link to="/select">Select</router-link></li>
                   <li><router-link to="/buttons">Buttons</router-link></li>
                   <li><router-link to="/tabs">Tabs</router-link></li>
                   <li><router-link to="/table">Table</router-link></li>
                   <li><router-link to="/table-filter">Table Filter</router-link></li>
                   <li><router-link to="/date">Date</router-link></li>
                   <li><router-link to="/editor">Editor</router-link></li>
                   <li><router-link to="/fancytree">Fancytree</router-link></li>
                   <li><router-link to="/modal">Modal</router-link></li>
                </ul>
            </div>
            <div class="col-sm-10">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        }
    }
</script>

<style>
    h1.title-dui {
        margin-bottom: 30px;
    }
</style>
<style scoped>
    h3 {
        font-weight: 100;
    }

    h4 {
        font-weight: 300;
    }

    .mb-10 {
        margin-bottom: 10px;
    }
    .logo h3 {
        text-align: center;
        background: #ff4141;
        font-weight: 500;
        margin: 0;
        padding: 10px 0;
        color: #fff;
    }

    .nav a {
        text-decoration: none;
        text-transform: uppercase;
        /*background: #eee;*/
        border-bottom: 1px solid #eee;
    }
</style>