<template>
    <div>
        <h1 class="title-dui">Default</h1>
        <d-button type="default"
                  :isLink="true"
                  url="url"
                  :icon="true"
                  iconPos="left"
                  iconGlyph="fa fa-times"
                  :small="true"
        >Button
        </d-button>
        <d-button type="primary" :small="true" :isButton="true">Primary</d-button>
        <d-button type="success" :small="true">Success</d-button>
        <d-button type="info" :small="true">Info</d-button>
        <d-button type="warning" :small="true">Warning</d-button>
        <d-button type="danger" :small="true">Danger</d-button>
        <br><br>
        <pre>&lt;d-button
            :isLink="true"
            url="url"
            type="default"
            :icon="true"
            iconPos="left"
            iconGlyph="fa fa-times"
            :small="true"&gt;
    &lt;/d-button&gt;</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>