<template>
    <div>
        <h1 class="title-dui">Checkbox</h1>
        <d-checkbox :value="1" label="Title 1"></d-checkbox>
        <pre>&lt;d-checkbox :value="1" label="Title 1"&gt;&lt;/d-checkbox&gt;</pre>

        <d-checkbox :checked="true" :value="2" label="Title 2"></d-checkbox>
        <pre>&lt;d-checkbox :checked="true" :value="2" label="Title 2"&gt;&lt;/d-checkbox&gt;</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>