<template>
    <div>
        <h1 class="title-dui">Date</h1>
        <d-date datepickerType="single" name="date1" :label="true" labelName="Single"></d-date>
        <pre>&lt;d-date datepickerType="single" name="date1" :label="true" labelName="Single"&gt;&lt;/d-date&gt;</pre>

        <d-date datepickerType="range" :time="true" name="date2" :label="true" labelName="Range"></d-date>
        <pre>&lt;d-date datepickerType="range" :time="true" name="date2" :label="true" labelName="Range"&gt;&lt;/d-date&gt;</pre>

    </div>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>