<template>
    <div>
        <h1 class="title-dui">Editor</h1>
        <d-editor name="editor1" :options="{}" ref="editor1" :value="editorContent"></d-editor>
        <pre>&lt;d-editor name="editor1" :options="{}" ref="editor1" :value="data"&gt;&lt;/d-editor&gt;</pre>
        <br>
        <h5>Get / Set</h5>
        <button class="btn btn-default" @click="getText()">Get content</button>
        <button class="btn btn-default" @click="setText(setContent)">Set content</button>
        <br><br>
        <pre v-if="content">{{content}}</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                editorContent: 'Hello from data',
                content: '',
                setContent: '<span style="font-weight: bold;">Lorem Ipsum</span> is simply dummy text of the <span style="font-weight: bold;">printing</span> and <span style="color: rgb(255, 153, 0);">typesetting</span> industry. Lorem Ipsum has been the industry standard dummy'

            }
        },
        methods: {
            getText() {
                this.content = this.$refs.editor1.getText();
                console.log(this.$refs.editor1.getText());
            },
            setText(text){
                this.$refs.editor1.setText(text);
            }
        }
    }
</script>