<template>
    <div>
        <h1 class="title-dui">Fancytree</h1>
        <label for="">Simple</label>
        <div class="row">
            <div class="col-sm-6">
                <d-fancytree id="fancy1"
                             :source="fancytreeData"
                             @selectNode="test()"
                             type="simple"
                             :extensions="['glyph', 'persist']"
                ></d-fancytree>
                <pre>&lt;d-fancytree
    id="fancy1"
    :source="data"
    type="sinple"
    :options="['glyph', 'persist']"&gt;
&lt;/d-fancytree&gt;</pre>
                <br>
                <button class="btn btn-default" @click="setNewData()">Set data</button>
                <br><br>
                <label for="">Checkbox</label>
                <d-fancytree id="fancy2" :source="fancytreeData3" type="simple" :checkbox="true"
                             :extensions="['glyph']"></d-fancytree>
                <pre>&lt;d-fancytree
    id="fancy2"
    :source="data1"
    type="input"
    :checkbox="true"
    :extensions="['glyph']"&gt;
&lt;/d-fancytree&gt;</pre>
            </div>
            <div class="col-sm-6">
                <label for="">Data</label>
                <pre>{{fancytreeData}}</pre>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <label for="">Input</label>
                <d-fancytree id="fancy3" :source="fancytreeData2" type="input" :extensions="['glyph']"></d-fancytree>
                <pre>&lt;d-fancytree id="fancy3" :source="data2" type="input" :extensions="['glyph']"&gt;&lt;/d-fancytree&gt;</pre>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                fancytreeData: [
                    {title: "Node 1", key: "1", color: "#ccc"},
                    {
                        title: "Folder 2",
                        key: "2",
                        color: "coral",
                        folder: true,
                        children: [
                            {title: "Node 2.1", key: "3", color: "royalblue"},
                            {title: "Node 2.2", key: "4", color: "deeppink"}
                        ]
                    }
                ],
                fancytreeData2: [
                    {title: "Node 1", key: "1", color: "#ccc"},
                    {
                        title: "Folder 2",
                        key: "2",
                        folder: true,
                        children: [
                            {title: "Node 2.1", key: "3"},
                            {title: "Node 2.2", key: "4"},
                            {
                                title: "Node 2.3",
                                key: "5",
                                folder: true,
                                children: [
                                    {title: "Node 2.3.1", key: "6"},
                                    {title: "Node 2.3.2", key: "7"},
                                ]
                            },
                        ]
                    },
                    {
                        title: "Folder 2",
                        key: "2",
                        folder: true,
                        children: [
                            {title: "Node 2.1", key: "3"},
                            {title: "Node 2.2", key: "4"},
                            {
                                title: "Node 2.3",
                                key: "5",
                                folder: true,
                                children: [
                                    {title: "Node 2.3.1", key: "6"},
                                    {title: "Node 2.3.2", key: "7"},
                                ]
                            },
                        ]
                    }
                ],
                fancytreeData3: [
                    {title: "Node 1", key: "1", color: "#ccc"},
                    {
                        title: "Folder 2",
                        key: "2",
                        color: "coral",
                        folder: true,
                        children: [
                            {title: "Node 2.1", key: "3", color: "royalblue"},
                            {title: "Node 2.2", key: "4", color: "deeppink"}
                        ]
                    }
                ],
            }
        },
        methods: {
            setNewData() {
                this.fancytreeData = [
                    {
                        title: "Node 2", key: "1"
                    },
                    {
                        title: "Folder 3",
                        key: "2",
                        folder: true,
                        children: [
                            {title: "Node 3.1", key: "3"},
                            {title: "Node 3.2", key: "4"}
                        ]
                    },
                    {title: 'Node 5', key: "5"}
                ]
            },
            test() {
                console.log('Node selected');
            }
        }
    }
</script>