<template>
    <h1 class="title-dui">Dantser UI Vue components </h1>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>
<style lang="scss">
    @import "../../node_modules/select2/dist/css/select2";
</style>