<template>
    <div>
        <h1 class="title-dui">Input</h1>
        <d-input placeholder="Text" class="mb-10" :label="true" labelName="Label"></d-input>
        <pre>&lt;d-input placeholder="Text" :label="true" labelName="Label"&gt;&lt;/d-input&gt;</pre>

        <d-input placeholder="Number" type="number" class="mb-10"></d-input>
        <pre>&lt;d-input placeholder="Number" type="number"&gt;&lt;/d-input&gt;</pre>

        <d-input type="text" :icon="true" iconPos="left" iconGlyph="glyphicon-ok" :label="true"
                 labelName="Icons" class="mb-10"></d-input>
        <pre>&lt;d-input type="text" :icon="true" iconPos="left" iconGlyph="glyphicon-ok" :label="true" labelName="Icons"&gt;&lt;/d-input&gt;</pre>

        <d-input type="text" :icon="true" iconPos="right" iconGlyph="glyphicon-search" class="mb-10"></d-input>
        <pre>&lt;d-input type="text" :icon="true" iconPos="right" iconGlyph="glyphicon-search"&gt;&lt;/d-input&gt;</pre>

        <d-input placeholder="Textarea" type="textarea" class="mb-10"></d-input>
        <pre>&lt;d-input placeholder="Textarea" type="textarea"&gt;&lt;/d-input&gt;</pre>
        <br>
        <hr>
        <h4>Loaded data from JSON</h4>
        <div class="row">
            <div class="col-sm-6">
                <label for="">Demo</label>
                <d-input v-for="item in inputData" :key="item.id" :type="item.type" :value="item.value"
                         :name="item.name"
                         :disabled="item.disabled" class="mb-10"></d-input>
    <pre>&lt;d-input v-for="item in data"
        :type="item.type"
        :value="item.value"
        :label="true"
        :name="item.name"
        :disabled="item.disabled"
        labelName="Label"&gt;
    &lt;/d-input&gt;
    </pre>
            </div>

            <div class="col-sm-6">
                <label for="">Data</label>
                <pre>{{ inputData }}</pre>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                inputData: [
                    {value: 10, type: 'number', name: 'name1'},
                    {value: 'Some strings', type: 'text', name: 'name2'},
                    {value: 777, type: 'number', name: 'name3'},
                    {value: 3434, type: 'number', disabled: true, name: 'name4'}
                ],
            }
        }
    }
</script>