<template>
    <div>
        <h1 class="title-dui">Modal</h1>
        <button class="btn btn-default" @click="showModal = true">Show Modal</button>
        <br><br>
        <d-modal v-if="showModal"
                 id="modal1"
                 title="Modal title 1"
                 width="960"
                 @close="showModal = false">
            <div slot="body">
                <label for="">Editor</label>
                <d-editor name="editor1" :options="{}" ref="editor1" ></d-editor>
                <br>
                <d-date datepickerType="range" name="date2" :label="true" labelName="Range"></d-date>
            </div>
            <div slot="footer"><button class="btn btn-default">Save</button></div>
        </d-modal>

<pre>&lt;d-modal v-if="showModal"
         id="modal1"
         title="Modal title 1"
         width="960"
         @close="showModal = false"&gt;

        &lt;div slot="body"&gt;
            &lt;d-editor&gt;&lt;/d-editor&gt;
            &lt;d-date&gt;&lt;/d-date&gt;
        &lt;/div&gt;

        &lt;div slot="footer"&gt;
            &lt;button class="btn btn-default"&gt;Save&lt;/button&gt;
        &lt;div&gt;
&lt;/d-modal&gt;
</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                showModal: false,
            }
        },
    }
</script>