<template>
    <div>
        <h1 class="title-dui">Radio</h1>
        <d-radio label="Title 1" value="1" name="radioName"></d-radio>
        <d-radio label="Title 2" value="2" name="radioName" :checked="true"></d-radio>
        <d-radio label="Title 3" value="3" name="radioName"></d-radio>
        <pre>&lt;d-radio label="Title 1" value="1" name="radioName"&gt;&lt;/d-radio&gt;</pre>
        <pre>&lt;d-radio label="Title 1" value="2" name="radioName" :checked="true"&gt;&lt;/d-radio&gt;</pre>
        <pre>&lt;d-radio label="Title 1" value="3" name="radioName"&gt;&lt;/d-radio&gt;</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {}
        }
    }
</script>