<template>
    <div>
        <h1 class="title-dui">Select</h1>
        <d-select :label="true" labelName="Label">
            <d-option value="1" text="1"></d-option>
            <d-option value="2" text="2"></d-option>
        </d-select>
    <pre>&lt;d-select :label="true" labelName="Label"&gt;
        &lt;d-option value="1" text="1"&lt;/d-option&gt;
        &lt;d-option value="2" text="2"&lt;/d-option&gt;
    &lt;/d-select&gt;
    </pre>

        <d-select :disabled="true">
            <d-option value="1" text="1"></d-option>
        </d-select>
        <hr>
        <h4>Loaded data from JSON</h4>
        <div class="row">
            <div class="col-sm-6">
                <d-select name="selectName1" :label="true" labelName="Label">
                    <d-option v-for="item in selectData"
                              :key="item.value"
                              :value="item.value"
                              :text="item.text"
                              :selected="item.selected"
                              :disabled="item.disabled"
                    ></d-option>
                </d-select>
    <pre>&lt;d-select :label="true" labelName="Label"&gt;
        &lt;d-option v-for="item in data"
            :value="item.value"
            :text="item.text"
            :selected="item.selected"
            :disabled="item.disabled"
        &lt;/d-option&gt;
    &lt;/d-select&gt;
    </pre>
            </div>
            <div class="col-sm-6">
                <label for="">Data</label>
                <pre>{{ selectData }}</pre>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                selectData: [
                    {value: 1, text: 'Option 1'},
                    {value: 2, text: 'Option 2', disabled: true},
                    {value: 3, text: 'Option 3', selected: true},
                    {value: 4, text: 'Option 4'},
                ],
            }
        }
    }
</script>