<template>
    <div>
        <h1 class="title-dui">Table</h1>

        <d-table :source="source" :columns="columns"></d-table>
        <pre>&lt;d-table :source="source" :columns="columns">&gt;&lt;/d-table&gt;</pre>
        <div class="row">
            <div class="col-md-6">
                <label for="">Column included</label>
                <pre>{{columns}}</pre>
            </div>
            <div class="col-md-6">
                <label for="">Source data</label>
                <pre style="height: 500px">{{source}}</pre>
            </div>
        </div>
    </div>
</template>
<script>
    import data from '../db.json'
    export default {
        data() {
            return {
                columns: [
                    {label: 'Name', key: 'name'},
                    {label: 'Phone', key: 'phone'},
                    {label: 'Email', key: 'email'},
//                    {label: 'Company', key: 'company'},
//                    {label: 'City', key: 'city'},
//                    {label: 'Address', key: 'address'},
                ],
                source: data.table
            }
        }
    }
</script>