<template>
    <div>
        <h1 class="title-dui">Table Filter</h1>
        <d-table-filter :options="filterFields.filter_fields" :buttons="filterFields.buttons" ref="table-filter"></d-table-filter>
        <br>
        <button class="btn btn-default btn-sm d-add-search" @click.prevent="getRows()">Test get data</button>
        <button class="btn btn-default btn-sm d-add-search" @click.prevent="testSendQuery()">Test send query
        </button>
        <br><br>
        <pre>{{filters}}</pre>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                filterFields: [],
//                buttons: [],
                filters: ''
            }
        },
        methods: {
            fetchOptions() {
               axios.get('http:/127.0.0.1:3030/options').then(response => {
                   this.filterFields = response.data.filterFields;
//                   this.buttons = response.data.filterFields.buttons;
               })
                // axios.get('https://dev9.dantser.pro/16/market/catalog/filter').then(response => {
                //     this.filterFields = response.data.filter_fields;
                //     this.buttons = response.data.buttons;
                // })
            },
            getRows() {
                this.$refs['table-filter'].getFilters();
                this.filters = this.$refs['table-filter'].$data.filters;
            },
            testSendQuery() {
                this.$refs['table-filter'].testSendQuery();
                this.filters = this.$refs['table-filter'].$data.filters;
            }
        },
        mounted(){
            this.fetchOptions();
        }
    }
</script>
<style lang="scss">
    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
</style>