<template>
    <div>
        <h1 class="title-dui">Tabs</h1>
        <d-tabs>
            <d-tab-pane id="tab_1" name="Tab 1">1</d-tab-pane>
            <d-tab-pane id="tab_2" name="Tab 2">2</d-tab-pane>
            <d-tab-pane id="tab_3" :active="true" name="Tab 3">3</d-tab-pane>
            <d-tab-pane id="tab_4" name="Tab 4">
                <d-editor name="editor1" :options="{}" ref="editor1"></d-editor>
            </d-tab-pane>
            <d-tab-pane id="tab_5" name="Tab 5">
                <d-date datepickerType="single" name="date1" :label="true" labelName="Single"></d-date>
            </d-tab-pane>
        </d-tabs>
        <pre>&lt;d-tabs&gt;
        &lt;d-tab-pane id="tab_1" name="Tab 1"&gt;1&lt;/d-tab-pane&gt;
        &lt;d-tab-pane id="tab_2" name="Tab 2"&gt;2&lt;/d-tab-pane&gt;
        &lt;d-tab-pane id="tab_3" :active="true" name="Tab 3"&gt;3&lt;/d-tab-pane&gt;
        &lt;d-tab-pane id="tab_4" name="Tab 4"&gt;
                 &lt;d-editor&gt;&lt;/d-editor&gt;
        &lt;/d-tab-pane&gt;
        &lt;d-tab-pane id="tab_5" name="Tab 5"&gt;
                 &lt;d-date&gt;&lt;/d-date&gt;
        &lt;/d-tab-pane&gt;
    &lt;/d-tabs&gt;</pre>
    </div>
</template>
<script>
    export default {
        data() {
            return {}
        },
    }
</script>