<template>
    <div
            class="tab-pane"
            :class="active ? 'active': ''"
            :id="id"
            :name="name">
        <slot></slot>
    </div>
</template>
<script>
    export default {
        name: 'DTabPane',
        
        props: {
            active: {
                type: Boolean
            },
            name: {
                type: String
            },
            id: {
                type: String
            }
        },
        
        data() {
            return {}
        }
    }
</script>
<style>
</style>
