<template>
    <div>
        <ul class="nav nav-tabs">
            <li :class="item.active ? 'active' : ''" v-for="item in navTabs">
                <a :href="`#${item.id}`" data-toggle="tab">{{item.name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <slot></slot>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'DTabs',

        props: {},

        data() {
            return {
                navTabs: []
            }
        },
        mounted() {
            if (this.$children.length !== 0) {
                this.$children.map(item => {
                    this.navTabs.push({
                        id: item.id,
                        name: item.name,
                        active: item.active
                    });
                });
            }
        }
    }
</script>
<style scoped>
    .tab-content {
        padding: 10px;
    }
</style>
