<template>
    <label>
        <input
                type="radio"
                :name="name"
                :id="id"
                :value="currentValue"
                :checked="isChecked"
                :label="label"
        >
        {{ label }}
    </label>
</template>
<script>
    export default {
        name: 'DRadio',

        props: {
            name: {
                type: String
            },
            id: {
                type: String
            },
            value: {
                type: [String, Number]
            },
            checked: {
                type: Boolean
            },
            label: {
                type: [String, Number]
            },

        },

        data() {
            return {
                currentValue: this.value,
                isChecked: this.checked,
            }
        },
        methods: {
            toggleChecked(){
                this.isChecked = !this.isChecked;
            },
            handleChange(event) {
                this.$emit('change', event);
                this.toggleChecked();
            }
        }
    }
</script>