<template>
    <div>
        <template v-if="type === 'simple'">
            <div
                    class="d-fancytree"
                    :id="id"
                    :name="name"
                    :source="source"
                    :type="type"
                    :checkbox="checkbox"
                    :extensions="extensions"
            ></div>
        </template>
        <template v-if="type === 'input'">
            <div class="input-group" v-show="!isOpen" @click="isOpen = !isOpen">
                <input class="form-control" type="text"
                       :value="selectedNode.title"
                       :class="{'input-sm': small}"
                       @click="fetchData()"
                >
                <div class="input-group-addon">
                    <span class="fa fa-sitemap"></span>
                </div>
            </div>
            <div v-show="isOpen" class="tree-block">
                <div
                        class="d-fancytree"
                        :id="id"
                        :name="name"
                        :source="source"
                        :type="type"
                        :checkbox="checkbox"
                        :extensions="extensions"
                        @dblclick="isOpen = !isOpen"
                ></div>
            </div>
        </template>
    </div>

</template>
<script>
    import mixins from '../../mixins';

    export default {
        name: 'DFancytree',

        mixins: [mixins],

        props: {
            id: {
                type: String,
                required: true
            },
            name: {
                type: String
            },
            source: {
                type: [
                    String,
                    Array
                ],
                required: true
            },
            type: {
                type: String,
                default: 'simple'
            },
            checkbox: {
                type: Boolean
            },
            extensions: {
                type: Array
            },
            small: {
                type: Boolean
            }
        },

        data() {
            return {
                selectedNode: '',
                isOpen: false,
                isFetched: false
            }
        },
        methods: {
            /**
             * Получает из входных параметров url или объект для инициализации построения fancytree.
             * Устанавливает isFetched в true для предотвращения повторной загрузки данных.
             */
            fetchData() {
                if (typeof this.source === 'string') {
                    if(!this.isFetched) {
                        axios.get(this.source).then(response => {
                            this.buildTree(response.data);
                            this.setSelectedNodeByParentData();
                            this.isFetched = true;
                        });
                    }
                } else if (typeof this.source === 'object') {
                    this.buildTree(this.source);
                }
            },
            /**
             * Построение fancytree
             * @param {object} source
             */
            buildTree(source) {
                $(`#${this.id}`).fancytree({
                    source: source,
                    icon: true,
                    checkbox: this.checkbox,
                    extensions: this.extensions,
                    glyph: {
                        map: {
                            doc: "fancytree-icon fa fw fa-square",
                            docOpen: "fancytree-icon fa fw fa-square",
                            folder: "fancytree-icon fa fw fa-square",
                            folderOpen: "fancytree-icon fa fw fa-square",
                        }
                    },
                    activate: (event, data) => {
                        let node = data.node;
                        this.selectedNode = {key: node.key, title: node.title};
                        if (this.hasParentData('currentValue')) this.$parent.$data.currentValue = this.selectedNode;
                    },
                    renderNode: (event, data) => {
                        let node = data.node;
                        $(node.span).find('.fancytree-icon').css("color", node.data.color);
                    }
                });
            },
            /**
             * Получает из родительской data значение выбранной ноды и устанавливает ее в fancytree.
             * Присваивает значения в selectedNode компонента.
             */
            setSelectedNodeByParentData() {
                if (this.hasParentData('currentValue')) {
                    let key = this.$parent.$data.currentValue.key;
                    let node = $(`#${this.id}`).fancytree('getTree').getNodeByKey(key.toString());

                    node.makeVisible();
                    node.setActive();

                    this.selectedNode = {key: node.key, title: node.title};
                    this.$parent.$data.currentValue = this.selectedNode
                }
            },
            /**
             * Получает из родительской data значение выбранной node и присваивает значения в selectedNode компонента.
             */
            setInitSelectedNode() {
                if (typeof this.source === 'string') {
                    if (this.hasParentData('currentValue')) this.selectedNode = this.$parent.$data.currentValue;
                }
            }
        },
        mounted(){
            this.setInitSelectedNode();
            if (typeof this.source === 'object') this.buildTree(this.source);
        },
        watch: {
            source: function () {
                $(`#${this.id}`).fancytree('getTree').reload(this.source);
            }
        }
    }
</script>
<style scoped lang="scss">
    .tree-block {
        height: 150px;
        border: 1px solid #ccc;
        overflow: scroll;
    }
</style>