<template>
    <option
            :value="currentValue"
            :disabled="disabled"
            :selected="selected"
            :text="text"
    >
        {{ text }}
    </option>
</template>
<script>
    export default {
        name: 'DOption',

        props: {
            value: {
                type: [String, Number]
            },
            disabled: {
                type: Boolean
            },
            selected: {
                type: Boolean
            },
            text: {
                type: String
            }
        },

        data() {
            return {
                currentValue: this.value
            }
        }
    }
</script>