<template>
    <div>
        <label v-if="label">{{ labelName }}</label>
        <select
                :class="[classDefault, {'input-sm': small}]"
                :name="name"
                :id="id"
                :disabled="disabled"
                :label="label"
                :labelName="labelName"
                :multiple="multiple"
                @change="handleChange"
        >
            <slot></slot>
        </select>
    </div>

</template>
<script>
    import mixins from '../../mixins'

    export default {
        name: 'DSelect',

        mixins: [mixins],

        props: {
            name: {
                type: String
            },
            id: {
                type: String
            },
            disabled: {
                type: Boolean
            },
            label: {
                type: Boolean,
                default: false
            },
            labelName: {
                type: String
            },
            multiple: {
                type: Boolean
            },
            small: {
                type: Boolean
            }
        },

        data() {
            return {
                selectedOption: ''
            }
        },
        methods: {
            handleChange(e) {
                this.selectedOption = e.target.value;
                this.$emit('option-change', e);
            }
        }
    }
</script>