<template>
    <div class="input-editor" @click="">
        <div
                :name="name"
                :value="value"
                :options="options"
        ></div>
    </div>
</template>
<script>
    export default {
        name: 'DEditor',

        props: {
            name: {
                type: String,
                required: true
            },
            value: {
                type: null
            },
            options: {
                type: Object,
            }
        },

        data() {
            return {
                elName: `[name='${this.name}']`
            }
        },
        methods: {
            init() {
                let defaultOptions = {
                    'styles': false,
                    'font_sizes': false,
                    'fonts': false,
                    'undo': false,
                    'redo': false,
                    'insert_img': false,
                    'insert_table': false,
                    'print': false,
                    'block_quote': false,
                    'rm_format': false,
                    'splchars': false,
                    'select_all': false,
                    'source': false,
                    'hr_line': false,
                    'editmode': true,
                    'hide_menu': false,
                    'viewtype': true,
                    'togglescreen': true,
                    'status_bar': false,
                    'togglestring': false,
                    'set_value_timeout': 100,
                    'set_value_callback': function () {
                    }
                };
                if (this.options !== undefined) {
                    let newOptions = this.options;
                    defaultOptions = Object.assign(defaultOptions, newOptions)
                }
                $(this.elName).Editor(defaultOptions);
            },
            setTextFromValue() {
                $(this.elName).Editor('setText', this.value);
            },
            setText(text) {
                $(this.elName).Editor('setText', text);
            },
            getText() {
                return $(this.elName).Editor('getText');
            }
        },
        mounted() {
            this.init();
            if (this.value !== undefined) {
                this.setTextFromValue();
            }
        }
    }
</script>