<template>
    <div :class="{
    'input-date-single' : datepickerType === 'single',
    'input-date-range' : datepickerType === 'range'
    }">
        <label v-if="label">{{ labelName }}</label>
        <div class="input-group">
            <input
                    data-datepicker
                    :id="id"
                    :name="name"
                    :class="[classDefault, {'input-sm': small}]"
                    :datepickerType="datepickerType"
                    :label="label"
                    :labelName="labelName"
                    :startDate="startDate"
                    :endDate="endDate"
                    :value="currentValue"
                    @click="getVal($event)"
                    @blur="getVal($event)"
            >
            <div class="input-group-addon" :class="name">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>

</template>
<script>
    import mixins from '../../mixins'

    export default {
        name: 'DDate',

        mixins: [mixins],

        props: {
            id: {
              type: String,
                required: true
            },
            name: {
                type: String,
            },
            startDate: {
                type: String
            },
            endDate: {
                type: String
            },
            datepickerType: {
                type: String,
                default: 'single'
            },
            time: {
                type: Boolean,
                default: false
            },
            label: {
                type: Boolean
            },
            labelName: {
                type: String
            },
            small: {
                type: Boolean
            },
            value: {
                type: String
            }
        },

        data() {
            return {
                currentValue: '',
                currentStartDate: '',
                currentStartTime: '',
                currentEndDate: '',
                currentEndTime: ''
            }
        },
        methods: {
            getVal(e) {
                if (this.datepickerType === 'single') {
                    setTimeout(() => {
                        this.currentValue = e.target.value;
                    }, 150);
                }
                if (this.datepickerType === 'range') {
                    setTimeout(() => {
                    $(e.target).on('apply.daterangepicker', () => {
                        this.currentValue = e.target.value;
                        [this.currentStartDate, this.currentStartTime, , this.currentEndTime, this.currentEndDate] = this.currentValue.split(' ');
                        this.$emit('date-change', this.currentValue);
                    });
                    }, 150);
                }
            },
            init() {
                moment.locale('ru');
                let single = false, format;

                if (this.time) {
                    format = 'DD.MM.YYYY H:mm';
                } else {
                    format = 'DD.MM.YYYY';
                }

                $(`#${this.id}`).daterangepicker({
                    singleDatePicker: this.datepickerType === 'single',
                    startDate: this.currentStartDate,
                    endDate: this.currentEndDate,
                    timePicker: this.time,
                    timePicker24Hour: this.time,
                    locale: {
                        format: format,
                        separator: ' - ',
                        applyLabel: 'Применить',
                        cancelLabel: 'Отменить',
                        weekLabel: 'W',
                        customRangeLabel: 'Custom Range',
                        daysOfWeek: moment.weekdaysMin(),
                        monthNames: moment.monthsShort(),
                        firstDay: moment.localeData().firstDayOfWeek()
                    },
                });
                $(`#${this.id}`).on('click', () => {
                    $(`#${this.id}`).focus();
                })
            }
        },
        mounted() {
//                this.currentValue = undefined;

//            if (this.startDate === undefined) {
//                this.currentStartDate = moment().format('DD.MM.YYYY');
//            }
//
//            if (this.endDate === undefined) {
//                this.currentEndDate = moment().format('DD.MM.YYYY 23:59');
//            }

            console.log(this.value);
            if (this.value !== undefined) {
                [this.currentStartDate, this.currentStartTime, , this.currentEndTime, this.currentEndDate] = this.value.split(' ');
                this.currentValue = this.value;
            } else if (this.startDate === undefined || this.endDate === undefined || this.currentValue === undefined) {
                console.log('czvcxvxc');
                this.currentStartDate = moment().format('DD.MM.YYYY');
                this.currentEndDate = moment().format('DD.MM.YYYY 23:59');
            }

            this.init();

//            setTimeout(() => {
//                this.currentValue = document.querySelector(`#${this.id}`).value;
//            }, 100);


        }
    }
</script>
<style scoped>
    .input-group-addon {
        cursor: pointer;
    }
</style>